body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url("hourglass.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  margin-right: auto;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-left: 15px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 520px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-section label {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.input-section input[type="text"] {
  width: 60px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
}

.timerbox {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  background-color: #444;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.button-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#settimer {
  background-color: #222;
}

#settimer:hover {
  background-color: #666;
}

#resume {
  background-color: #e600e6;
}

#resume:hover{ 
  background-color: #ffb3ff;
}

#pause {
  background-color: #4d79ff;
}

#pause:hover{ 
  background-color: #b3e6ff;
}

#reset {
  background-color: #ff0000;
}

#reset:hover{ 
  background-color: #ff8080;
}

.button-section button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#instructionsBtn {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#instructionsBtn:hover {
  background-color: #666;
}

#timerDisplay {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  color: #333;
}

.timer-value {
  color: white;
  font-size: 40px;
  text-align: center;
}

.footer {
  background-color: #222;
  color: white;
  padding: 10px;
}

